
.back{
    width: 100%;
    min-height: 100vh;
    background-image: url(background.webp);
    background-position:center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
.name{
    margin-top: 10%;
    max-width: 600px;
}
.name h1{
    font-size: 70px; 
    color:#4a4a4a;
    font-family: 'Courier New', Courier, monospace;
}
.name p{
    margin: 10px 0 30px;
    color:#994670;
    animation-delay: 0.5s;
}
.name .btn{
    margin: 40px 0 50px;
    padding:15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}
.my-img{
    border-radius: 50%;
    width: 600px;
    position: absolute;
    bottom: auto;
    right: 20%;
}
.my-img.anim{
    animation-delay: 1.5s ;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
    
}
@keyframes moveup{
    100%{
        opacity: 1;
    }
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 20px 70px;
    color:#fff;
    background-color: #db7093;
    font-size: 14px;
    border-radius: 30px;

}